@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #002415;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #017e4a;
  border-radius: 10px;
  width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00633a;
  cursor: pointer;
}

/* *{
  
} */
